<footer class="container">
  <div class="grid">
    <article>
      <header>
        <strong>{{ site.title | escape }}</strong>
      </header>
      <p>{{ site.description | escape }}</p>
      <footer>
        <nav>
          <ul>
            <li>Connect:</li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Bluesky</a></li>
            <li><a href="https://github.com/jrootham/co-ops">GitHub</a></li>
          </ul>
        </nav>
      </footer>
    </article>
    <div class="grid">
      <article>
        <header><strong>Learn</strong></header>
        <aside>
          <nav>
            <ul>
              <li>
                <a href="{{ 'initiative/' | relative_url }}">About the Initiative</a>
              </li>
              <li>
                <a href="{{ 'membership/' | relative_url }}">About Membership</a>
              </li>
            </ul>
          </nav>
        </aside>
      </article>
      <article>
        <header><strong>Participate</strong></header>
        <aside>
          <nav>
            <ul>
              <li>
                <a href="{{ 'contribute/' | relative_url }}">Contribute</a>
              </li>
              <li>
                <a href="{{ 'register/' | relative_url }}">Pre-Register</a>
              </li>
              <li>
                <a href="{{ 'projects/' | relative_url }}">Project Status</a>
              </li>
            </ul>
          </nav>
        </aside>
      </article>
    </div>
  </div>
</footer>
